<%- include('header2') %>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="/image/a3.jpg" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/image/a3.jpg" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/image/a3.jpg" class="img-fluid">
        </div>
    </div>


</div>
<h1>hello</h1>




<%- include('footer') %>