<%- include('header2') %>

<div class="row mx-0 pt-5 d-flex justify-content-center">
    <div class="col-xs-4 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="card shadow-lg">
            <div class="card-header card-header-divider text-center pt-4">
                <img src="/image/aimesh-logo.png" class="img-fluid mw-100" alt="">
                <div class="d-flex justify-content-center mw-100" id="qrcode"></div>
            </div>
            <div class="card-body px-0">
                <div class="text-center"><strong>QRcode ร้านค้า</strong></div>
                <div class="text-center" id="shop"></div>
                <div class="text-muted text-center">Scan QRcode เพื่อสะสมแต้ม</div>
                <div class="text-muted text-center" id="listAll"></div>
                <div class="text-muted text-center" id="listAll2"></div>
                <div class="text-muted text-center"><button class="btn btn-success btn-lg btn-block" id="btnShare" onclick="sendShare()">Share Group</button></div>
            </div>

        </div>
    </div>
</div>


<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyDPtiVV3i2g72pxlmJO30barcRF3PsyWxE",
        authDomain: "nodejs-262923.firebaseapp.com",
        databaseURL: "https://nodejs-262923.firebaseio.com",
        projectId: "nodejs-262923",
        storageBucket: "nodejs-262923.appspot.com",
        messagingSenderId: "367840627109",
        appId: "1:367840627109:web:96e992a5e9c7e84bfe804c",
        measurementId: "G-HNCMJTCED8"
    };
    // Initialize Firebase

    firebase.initializeApp(firebaseConfig);
    //firebase.analytics();
    var dbRef = firebase.firestore();
</script>
<script type="text/javascript" src="/javascript/qrcode.js"></script>

<script>
    let profileuserId = '';

    function runApp() {
        liff.getProfile().then(profile => {
            let shopRef = dbRef.collection('users');
            let userRef = shopRef.where('id', '==', profile.userId).where('shop', '==', 1);
            profileuserId = profile.userId;
            userRef.get().then(function (userSnap) {
                if (userSnap.size == 0) {
                    console.log('ไม่ใช่ร้านค้า');
                    $('#qrcode').html('<b>คุณไม่ใช่ร้านค้า</b>');
                } else {
                    console.log('เป็นร้านค้า');
                    shopQRcode = "line://app/1653797799-4Vpzp5rk?userid=" + profile.userId +
                        "&uuid=abcdefghijklmnop";
                    $('#shop').html(profile.displayName);
                    new QRCode(document.getElementById("qrcode"), {
                        text: shopQRcode,
                        width: 200,
                        height: 200,
                        correctLevel: QRCode.CorrectLevel.L

                    });
                }
            });

        }).catch(err => console.error(err));

    }


    liff.init({
        liffId: "1653797799-mK8O87N3"
    }, () => {
        if (liff.isInClient()) {
            runApp()
        } else {
            if (liff.isLoggedIn()) {
                runApp()
            } else {
                liff.login();
            }
        }
    }, err => console.error(err.code, error.message));

    function renderCafe(doc) {
        let shopCode = doc.data().shopId;
        if (shopCode == profileuserId) {
            //$('#listAll2').html('OK');
            $('#listAll').html('<li>' + doc.id + '===>' + doc.data().point + '</li>');
            console.log('เพิ่ม เปลี่ยน');
        } else {
            $('#listAll').html('<b>รอยืนยันรับแต้มสะสม</b>');
        }


    }


    dbRef.collection('stamp').orderBy('timeStamp').onSnapshot(snapshot => {
        //dbRef.collection('stamp').where('shopId', '==', profileuserId).onSnapshot(snapshot => {
        console.log(profileuserId);
        let changes = snapshot.docChanges();
        changes.forEach(change => {
            if (change.type == 'added') {
                console.log('added');
                renderCafe(change.doc);
            } else if (change.type == 'modified') {
                console.log('modified');
                renderCafe(change.doc);
            } else {
                console.log('no data');
            }
        });

    });



    async function sendShare() {
        await liff.shareTargetPicker([{
            "type": "flex",
            "altText": "Flex Message",
            "contents": {
                "type": "bubble",
                "body": {
                    "type": "box",
                    "layout": "vertical",
                    "spacing": "md",
                    "contents": [{
                            "type": "text",
                            "text": "Aimesh Point",
                            "size": "xl",
                            "gravity": "center",
                            "weight": "bold",
                            "wrap": true
                        },
                        {
                            "type": "button",
                            "style": "primary",
                            "action": {
                                "type": "uri",
                                "label": "ร่วมสะสมแต้ม",
                                "uri": "https://lin.ee/fnI3U9v"
                            }
                        }

                    ]
                }
            }
        }])
    }
</script>


<%- include('footer') %>